@import "bootstrap-sprockets";
@import "bootstrap";

@import "appearance";
@import "span";
@import "weight";

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 70px;
  margin-bottom: 40px;
  background: image-url('bg_top.jpg') no-repeat center center fixed;
  background-size: cover;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #f5f5f5;

  .text-muted {
    margin: 10px 0;
  }
}

.jumbotron {
  opacity: 0.95;
  background: white;

  .link-list {
    font-size: 24px;
    list-style: none;

    li:before {
      content: '\00BB';
      margin: 0 1em;
    }
  }
}

.search-result {
  margin-top: 20px;
}
