<div class="jumbotron">
  <h1 class="text-center">Welcome to the birds observation center!</h1>
  <ul class="link-list">
  	<li>
      <a href="<%= span_path %>">Find the tower that observed the bird with biggest wingspan in raining
        conditions</a>
  	</li>
  	<li>
  		<a href="<%= weight_path %>">Get the total added estimated weight of all the birds seen by a tower</a>
  	</li>
  	<li>
  		<a href="<%= lost_path %>">All tagged birds that have not been observed for more than one week</a>
  	</li>
  </ul>
</div>