<div class="row">
	<div class="jumbotron">
		<h3>Get the total added estimated weight of all the birds seen by a tower.</h3>
		<br/>
		<%= form_tag weight_path, method: :get, :class => 'form-inline' do %>
          <div class="form-group">
            <%= label_tag(:date, 'Select date:', class: 'control-label') %>
            <%= text_field_tag(:date,
                               (params[:date] or Time.now.strftime '%d-%m-%Y'),
                               class: 'form-control datepicker') %>
          </div>
          <div class="form-group">
            <%= label_tag(:tower_id, 'Tower id:', class: 'control-label') %>
            <%= select_tag(
                    :tower_id,
                    options_from_collection_for_select(@towers,
                                                      :tower_id,
                                                      :tower_id),
                    class: 'form-control'
                )
            %>
          </div>
          <div class="form-group">
            <%= submit_tag('Search', class: 'btn btn-default') %>
          </div>
		<% end %>

    <% if @stats %>
      <div class="search-result">
        <h4>Result</h4>
        <h2>
          <% @stats.each do |info| %>
            <td><%= info.weight %></td>
          <% end %>
        </h2>
      </div>
    <% end %>
	</div>
</div>


