<div class="row">
  <div class="jumbotron">
    <h3>There are <%= pluralize(@lost.total_entries, 'bird')%>
      that have not been observed for more than one week.</h3>
    <table class="table table-striped table-hover table-bordered">
      <thead>
        <tr>
          <th>Bird tag</th>
          <th>Last observation</th>
        </tr>
      </thead>
      <tbody>
        <% @lost.each do |info| %>
          <tr>
            <td><%= info.bird_tag %></td>
            <td><%= info.last_seen %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="text-center">
      <%= will_paginate @lost, renderer: BootstrapPagination::Rails %>
    </div>
  </div>
</div>