<!DOCTYPE html>
<html class="full">
<head>
  <title>Birds Observation Center</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Bird Observation', '/', class: 'navbar-brand' %>
    </div>

    <div class="collapse navbar-collapse" id="header-navbar">
      <ul class="nav navbar-nav">
        <li class="<%= 'active' if params[:controller] == 'birds' %>">
          <%= link_to 'Home', controller: 'birds', action: 'index' %>
        </li>
        <li class="<%= 'active' if params[:controller] == 'span' %>">
          <%= link_to 'Wing span', controller: 'span', action: 'index' %>
        </li>
        <li class="<%= 'active' if params[:controller] == 'weight' %>">
          <%= link_to 'Estimated weight', controller: 'weight', action: 'index' %>
        </li>
        <li class="<%= 'active' if params[:controller] == 'lost' %>">
          <%= link_to 'Lost birds', controller: 'lost', action: 'index' %>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
		<%= yield %>
</div>

<div class="footer">
   <div class="container">
      <p class="text-muted text-center">Developed by KKN Team. 2014 &copy;</p>
   </div>
</div>
</body>
</html>

