<div class="row jumbotron">
    <h3>Find the tower that observed the bird with biggest wingspan in raining
      conditions.</h3>

    <%= form_tag span_path, method: :get, role: 'form', class: 'form-inline' do %>
      <div class="form-group">
        <%= label_tag(:date, "Select date:", class: 'control-label') %>
        <%= text_field_tag(:date,
                           (params[:date] or Time.now.strftime '%d-%m-%Y'),
                           class: 'form-control datepicker') %>
      </div>
      <div class="form-group">
        <%= submit_tag('Search', class: 'btn btn-default') %>
      </div>
    <% end %>

    <% if @info %>
      <div class="search-result">
        <h4>Result</h4>
        <table class="table table-striped table-hover table-bordered">
          <tr>
            <th>Tower</th>
            <th>Wingpan</th>
          </tr>
          <% @info.each do |row| %>
            <tr>
              <td><%= row.tower_id %></td>
              <td><%= row.maxspan %></td>
            </tr>
          <% end %>
        </table>
        <div class="text-center">
          <%= will_paginate @info, renderer: BootstrapPagination::Rails %>
        </div>
      </div>
    <% end %>
</div>

